---
const { location } = Astro.props;

interface LocationData {
  address: string;
  googleMapsLink: string;
}

const getLocationData = (location: 'SpaceDev' | 'WyeWorks'): LocationData => {
  if (location === 'SpaceDev') {
    return {
      address: 'Cornelio Cantera 2857',
      googleMapsLink: 'https://maps.app.goo.gl/zMP9ccaDGTwnipgV8',
    };
  } else if (location === 'WyeWorks') {
    return {
      address: 'Solano García 2470',
      googleMapsLink: 'https://maps.app.goo.gl/GYL7NkL8TqCL8cEz8',
    };
  }
}

const { address, googleMapsLink } = getLocationData(location);
---

<a href={googleMapsLink} target="_blank" class="flex text-white text-2xl items-center hover:underline">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
  </svg>
  <h3 class="md:text-2xl text-lg">{location} - {address}</h3>
</a>
