<h1 class="relative text-black text-2xl font-bold lg:text-3xl inline-block">
  <div class="absolute -left-1 -right-1 top-2/3 h-3 -z-10 transform -rotate-1" style="background-color: #97aae0;"></div>
  <slot />
</h1>
