---
import SectionHeader from '../components/SectionHeader.astro';
---

<section id="about">
  <SectionHeader>Sobre nosotros</SectionHeader>
  <p>Somos una comunidad de uruguayos interesados por Rust, un "nuevo" y revolucionario lenguaje de programación de sistemas.</p>
  <p>Programadores de todos los niveles son bienvenidos a explorar y aprender Rust y sus distintos usos junto a nosotros.</p>
</section>
