---
import SectionHeader from '../components/SectionHeader.astro';
import ParticipateForm from '../components/ParticipateForm.astro';
---

<section id="participar" class="w-11/12 mx-auto mb-16 lg:w-11/12 lg:max-w-none">
  <div class="mb-6">
    <SectionHeader>Participá</SectionHeader>
  </div>

  <div class="text-black text-lg lg:text-xl space-y-4 mb-8">
    <p>
      La comunidad la hacemos entre todos. ¿Hay un tema que te gustaría
      ver en una meetup? ¿O te animás a dar una charla vos? Contanos acá.
    </p>
  </div>

  <ParticipateForm />
</section>
