---
import { Image } from 'astro:assets';
import Logo from '../images/rustuy-logo.webp';
---

<section id="title" class="mx-auto w-2/3 flex flex-col justify-center items-center text-lg">
  <div class="w-2xl mb-4">
    <Image src={Logo} alt="Rust UY Logo">
  </div>
  <p>Somos una comunidad de uruguayos interesados por Rust, un "nuevo" y revolucionario lenguaje de programación de sistemas.</p>
</section>
