---
import { Image } from 'astro:assets';
import Logo from '../images/rustuy-logo.webp';
import SpaceDevLogo from '../images/spacedev-logo.png';

import Button from '../components/Button.astro';
import Location from '../components/Location.astro';
import RSVPButton from '../components/RSVPButton.astro';
import Countdown from '../components/Countdown.astro';

const events = [
  { date: new Date('28 May 2025'), host: 'SpaceDev' },
];
const event = events.find(({ date }) => new Date() < date);
---

<section id="title" class="mx-auto w-3/4 flex flex-col justify-center items-center text-lg lg:space-y-2 mt-6">
  <div class="w-2xl mb-4">
    <Image src={Logo} alt="Rust UY Logo">
  </div>
  {event !== undefined && (
    <div class="w-full flex justify-evenly">
      <div class="flex flex-col justify-center items-center space-y-6">
        <Countdown date={event.date} />
        <Location location={event.host} />
        <RSVPButton />
      </div>
    </div>
  )}
</section>
