---
import { Image } from 'astro:assets';
import Logo from '../images/rustuy-logo.webp';
import SpaceDevLogo from '../images/spacedev-logo.png';

import Button from '../components/Button.astro';
import Location from '../components/Location.astro';
import RSVPButton from '../components/RSVPButton.astro';
import Countdown from '../components/Countdown.astro';

const events = [
  // 22:00 in UTC because it'll be 19:00 in Uruguay.
  // Already past.
  { date: new Date('4 June 2025, 22:00'), host: 'SpaceDev' },
];
const event = events.find(({ date }) => new Date() < date);
---

<section id="title" class="mx-auto lg:w-3/4 w-11/12 flex flex-col justify-center items-center text-lg lg:space-y-2 mt-6">
  <div class="md:w-2xl w-full mb-4">
    <Image src={Logo} alt="Rust UY Logo">
  </div>
  {event !== undefined && (
    <div class="w-full flex justify-evenly">
      <div class="flex flex-col justify-center items-center w-full space-y-2">
        <Countdown date={event.date} />
        <Location location={event.host} />
        <div class="mt-8">
          <RSVPButton />
        </div>
      </div>
    </div>
  )}
</section>
