---
import '../styles/global.css';
const { content } = Astro.props;

import NavBar from '../components/NavBar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="ferris-the-crab.png" />
		<title>{content.title}</title>
	</head>
	<body class="bg-white">
		<NavBar />
		<main class="lg:px-20 lg:space-y-20">
			<slot />
		</main>
		<!-- 100% privacy-first analytics -->
		<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	</body>
</html>
